# Python Virtual Environment
careerpilot-backend/venv/
venv/
.venv/
__pycache__/
*.pyc

# Node/NextJS modules
careerpilot-frontend/node_modules/
node_modules/
.next/

# Environment variables & DB
.env
*.env
chroma_db/
careerpilot-backend/chroma_db/
careerpilot-backend/careerpilot.db
careerpilot-backend/storage/temp_cvs/
.DS_Store

# Generated submission package
submission-package/
CareerPilot-submission.zip
